.auth-wrapper {
    padding-top: 20vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.auth-logo {
    width: 300px;
    height: 360px;
    background: url("../../../logo.svg") no-repeat 50% 50% / 226%;
}

.auth-form {
    min-width: 280px;
}

.auth-divider {
    width: 30px;
}
.auth-flat-button {
    margin: 15px 0;
}

.fader {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    opacity: 0.6;
    z-index: 10;
}
.fader.active {
    display: block;
}

.auth-raised-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}